<body>
  <div class="nav navbar-inverse">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bistro Wai Wai</a>
    </div>
    <ul class="nav nav-tabs parent-tab-content">
      <li class="active">
        <a href="#tab1" data-toggle="tab">フード</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">ドリンク</a>
      </li>
    </ul>
    <div class="tab-content active nav-tabs-wrap gnav">
      <!--親タブ1のメニュー-->
      <ul class="nav nav-tabs sub-tab-content" id="tab1">
        <!--各親タブの中でデフォルトで表示させたい子タブにactive属性を-->
        <% @food_menu_categories.each do |category| %>
          <li class="active">
            <a href="/menus?menu_category_id=<%= category.id %>"><%= category.name %></a>
          </li>
        <% end %>
      </ul>
      <!--親タブ2のメニュー-->
      <ul class="nav nav-tabs sub-tab-content" id="tab2">
        <% @drink_menu_categories.each do |category|%>
          <li class="active">
            <a href="/menus?menu_category_id=<%= category.id %>"><%= category.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
    <br>
    <% @menus.each do |menu| %>
      <%= link_to("/menus/#{menu.id}") do %>
      <div class="col-xs-6">
        <div class="thumbnail">
          <%= image_tag "/#{menu.id}/main.png"%>
          <div class="caption">
            <h4><%= menu.name %></h4>
            <p>（税抜）<%= menu.price %>円</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
      <div class="btn-group-justified">
        <div class="row">
          <div class="col-xs-12 purchase_proceed_button">
            <a href="/carts" class="btn btn-block btn-primary btn-lg">カートへ移動する</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
</body>
