<body>
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bistro Wai Wai</a>
    </div>
    <div class="collapse navbar-collapse">
    <ul class="nav nav-tabs parent-tab-content">
      <%if @menu_category.present? && @menu_category.kbn == 1 %>
        <li class="nav-item active">
          <a href="#tab1" data-toggle="tab">フード</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a href="#tab1" data-toggle="tab">フード</a>
        </li>
      <% end %>
      <%if @menu_category.present? && @menu_category.kbn == 2 %>
        <li class="nav-item active">
          <a href="#tab2" data-toggle="tab">ドリンク</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a href="#tab2" data-toggle="tab">ドリンク</a>
        </li>
      <% end %>
    </ul>
    </div>

    <div class="tab-content active nav-tabs-wrap gnav">
      <!--親タブ1のメニュー-->
      <%if @menu_category.present? && @menu_category.kbn == 1 %>
        <ul class="nav nav-tabs sub-tab-content active" id="tab1">
      <% else %>
        <ul class="nav nav-tabs sub-tab-content" id="tab1">
      <% end %>
        <!--各親タブの中でデフォルトで表示させたい子タブにactive属性を-->
        <% @food_menu_categories.each do |category| %>
          <%if @menu_category.present? && @menu_category.id == category.id %>
            <li class="active">
              <a href="/menus?menu_category_id=<%= category.id %>"><%= category.name %></a>
            </li>
          <% else %>
            <li>
              <a href="/menus?menu_category_id=<%= category.id %>"><%= category.name %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
      <!--親タブ2のメニュー-->
      <%if @menu_category.present? && @menu_category.kbn == 2 %>
        <ul class="nav nav-tabs sub-tab-content active" id="tab2">
      <% else %>
        <ul class="nav nav-tabs sub-tab-content" id="tab2">
      <% end %>
        <% @drink_menu_categories.each do |category|%>
          <%if @menu_category.present? && @menu_category.id == category.id %>
            <li class="active">
              <a href="/menus?menu_category_id=<%= category.id %>"><%= category.name %></a>
            </li>
          <% else %>
            <li>
              <a href="/menus?menu_category_id=<%= category.id %>"><%= category.name %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <br>
    <% @menus.each do |menu| %>
      <%= link_to("/menus/#{menu.id}") do %>
      <div class="col-xs-6">
        <div class="thumbnail">
          <%= image_tag "/#{menu.id}/main.png"%>
          <div class="caption">
            <h4><%= menu.name %></h4>
            <p>（税抜）<%= menu.price %>円</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
      <div class="btn-group-justified">
        <div class="row">
          <div class="col-xs-12 purchase_proceed_button">
            <a href="/carts" class="btn btn-block btn-primary btn-lg">カートへ移動する</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
</body>
