<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <a href="/menus?menu_category_id=1" class="navbar-brand">＜</a>
        <a href="/menus?menu_category_id=1" class="navbar-brand">一覧へ戻る</a>
      </div>
    </nav>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="col-xs-12">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name %> text-center">
            <%= msg.html_safe %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @cart_items.size != 0 %>
      <div class="text-left">
        <div class="row">
          <div class="col-xs-3 text-center">
            <h3>合計</h3>
          </div>
          <div class="col-xs-9">
            <h3>（税抜）<%= @amount %>円</h3>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-xs-12 text-center">
        <%= form_tag('/carts/order', method: :post) do %>
          <%= submit_tag "注文する", :class => "btn btn-block btn-danger btn-lg" %>
        <% end %>
      </div>
      <hr>
    <% end %>
    <br>
    <br>

  <h3>カート一覧</h3>
  <% if @cart_items.size == 0 %>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h4>現在、カートに追加されているメニューがありません。</h4>
      </div>
    </div>
  <% end %>

  <% @cart_items.each do |item| %>
    <div class="row">
      <div class="thumbnail">
        <%= image_tag "/#{item.menu.id}/main.png", :onerror => "this.src='/no-image.png'"%>
        <div class="caption">
          <div class="col-xs-12">
            <h4>
              <strong><%= item.menu.name %></strong>
            </h4>
            <hr>
          </div>
          <div class="col-xs-12 text-right">
            <h4>
              数量：<%= item.quantity %>
            </h4>
            <hr>
          </div>
          <div class="col-xs-12 text-right">
            <h4>（税抜）<%= item.menu.price %>円</h4>
            <hr>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <%= form_tag('/carts/delete', method: :post) do %>
              <%= hidden_field_tag :menuId, item.menu.id %>
              <%= submit_tag "削除する", :class => "btn btn-block btn-warning"%>
            <% end %>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#ModalQuantity_<%= item.menu.id %>">
              数量を変更する
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form_tag('/carts/update', method: :post) do %>
  <%= hidden_field_tag :menuId, item.menu.id %>
  <div class="modal fade" id="ModalQuantity_<%= item.menu.id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>数量の変更をお願いします。</h4>
        </div>
        <div class="modal-body">
          <%= select :cart_list, :quantity, options_for_select([1,2,3,4,5], :selected => item.quantity), {}, {autofocus: 'true', class: 'form-control'} %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <%= submit_tag "変更する", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-header">
    <div class="btn-group-justified">
      <% if @cart_items.size != 0 %>
        <div class="row">
          <div class="col-xs-6 purchase_proceed_button">
            <a href="/menus?menu_category_id=1" class="btn btn-block btn-primary btn-lg">一覧へ戻る</a>
          </div>
          <div class="col-xs-6 purchase_proceed_button">
            <%= form_tag('/carts/order', method: :post) do %>
              <%= submit_tag "注文する", :class => "btn btn-block btn-danger btn-lg" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-xs-12 purchase_proceed_button">
            <a href="/menus?menu_category_id=1" class="btn btn-block btn-primary btn-lg">一覧へ戻る</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
</body>
